.post {
  padding-top: 10px;
  padding-bottom: 10px;
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
  .nav-links { /* высота этого блока задаётся отступом класса mega-container */
    border-top: 1px solid rgba(0,0,0,.167);
    a {
      text-decoration: none;
      color: #3a3a3a;
      // text-transform: uppercase;
      // letter-spacing: 0.2em;
      // font-family: "Fira Sans","Helvetica","Arial","Verdana","sans-serif";
    }
    .meta-arraw {
      opacity: 0.8;
    }
    .nav-previous {
      position: absolute;
      bottom: 54px;
      left: 50px;
      z-index: 29;
    }
    .nav-next {
      position: absolute;
      bottom: 54px;
      right: 50px;
      z-index: 29;
    }
  }
}
.nav-links-sub {
  display: table-caption;
  color: #007FB5;
  font-weight: 700;
  font-size: 0.750em;
}
.nav-links-title {
  display: table-cell;
  font-weight: 700;
  font-size: 1em;
}
.entry-content {
  // font-family: "Fira Sans","Helvetica","Arial","Verdana","sans-serif";
  line-height: 1.7;
  word-wrap: break-word;
  ol,
  ul {
    margin: 0 0 1.5em 3em;
  }
  ul {
    list-style: disc;
  }
  blockquote {
    color: #aaa;
    margin: 1em 0;
    padding: 0 0 0 30px;
    border-left: 4px solid #aaa;
  }
  p img {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
  }
  a {
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px solid rgba($color-link,.167);
    -webkit-transition: border-bottom 300ms;
    transition: border-bottom 300ms;
  }
  a:visited {
    color: $color-link;
  }
  a:active,
  a:focus,
  a:hover {
    border-bottom: 1px solid rgba($color-link,.167);
  }
}
