// colors
$color-title: #333;
$color-text: #555;
$color-even: #f8f8f8;
$grey-border: #dcdcdc;

// links style
$color-link: #007FB5;
$weight-link: 500;

// lenght
$header-height: 70px;
$nav-padding-top: 25px;
// $container-width: 600px;
$container-width: 960px;
$inside-wrapper-width: 920px;
$icon-size: 20px;

// fonts
* {
  font-family: "Fira Sans","Helvetica","Arial","Verdana","sans-serif";
}